{% extends 'base/base.html'%}
{% set active_item = 'daily_patients' %}
{% block title%}
    <title>Danh Sách Bệnh Nhân</title>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-end">
    <div class="d-flex">
        <div class="form-group mr-2">
            <label class="label-control">Chọn Ngày</label>
            <input type="date" class="form-control datetimepicker"/>
        </div>
        <button type="submit" class="btn btn-info" onclick="dateFilter()">Lọc</button>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">Danh Sách Khám Bệnh</h4>
      <p class="card-category" id="dataDate"></p>
    </div>
    <div class="card-body">

      <div class="">
        <table class="table" id="patients">
            <thead class="text-info">
                <tr>
                    <th>STT</th>
                    <th>Họ Tên</th>
                    <th>Giới Tính</th>
                    <th>Năm Sinh</th>
                    <th>Địa Chỉ</th>
                </tr>
            </thead>       
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        var table;
        var currentDate;
        $(document).ready( function () {
            currentDate = new Date().toJSON().slice(0,10);
            $('#dataDate').text('Ngày ' + currentDate.replace(/-/g,'/'));
            table = $('#patients').DataTable({
                "searching": false,
                "ajax": "api/getPatients/" + currentDate,
                columnDefs: [
                    {
                        targets: [0],
                        render: function(data, type, row, meta) {
                            return meta.row;
                        }
                    },
                    {
                        targets: [1],
                        data: "name",
                        render: function(data, type, row, meta) {
                            return data.toString();
                        }
                    },
                    {
                        targets: [2],
                        data: "gender",
                        render: function(data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        targets: [3],
                        data: "yob",
                        render: function(data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        targets: [4],
                        data: "address",
                        render: function(data, type, row, meta) {
                            return data;
                        }
                    }
                ],
                
            });
            
        } );
        function dateFilter(){
            var date = $('.datetimepicker').val();
            $('#dataDate').text('Ngày ' + date.replace(/-/g,'/'));
            if(date != null){
                if(date <= currentDate){
                    table.ajax.url('api/getPatients/' + date).load();
                }
            }
        }
    </script>
{% endblock %}