{% extends 'base/base.html' %}
{% set active_item = 'patient_list' %}
{% block title %}
    <title>Danh Sách Bệnh Nhân</title>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">Danh Sách Bệnh Nhân</h4>
    </div>
    <div class="card-body">
      <div>
        <table class="table" id="medical_forms">
            <thead class="text-info">
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày Khám</th>
                <th>Loại Bệnh</th>
                <th>Triệu Chứng</th>
            </thead>
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready( function () {
        //currentDate = new Date().toJSON().slice(0,10);
        //$('#dataDate').text('Ngày ' + currentDate.replace(/-/g,'/'));
        var MedicalFormtable = $('#medical_forms').DataTable({
            "searching": false,
            "ajax": "api/getMedicalforms",
            columnDefs: [
                {
                    targets: [0],
                    render: function(data, type, row, meta) {
                        return meta.row;
                    }
                },
                {
                    targets: [1],
                    data: "name",
                    render: function(data, type, row, meta) {
                        return data;
                    }
                },
                {
                    targets: [2],
                    data: "date",
                    render: function(data, type, row, meta) {
                        date = new Date(data);
                        return date.toISOString().slice(0,10);
                    }
                },
                {
                    targets: [3],
                    data: "disease_prediction",
                    render: function(data, type, row, meta) {
                        return data;
                    }
                },
                {
                    targets: [4],
                    data: "symptom",
                    render: function(data, type, row, meta) {
                        return data;
                    }
                }
            ],
            
        });
        
    } );
</script>
{% endblock %}